node_modules/
.next/
.vercel/
out/
build/

/.idea

.vercel
.env*

/src/generated/prisma
# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Terraform local files and secrets
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
